<h1>All Sauces</h1>
<% @product.each do |s| %>
<a href="/products/<%= s.id %>" =><%= s.name %></a>
<p><%= s.description %></p>
<p><%= s.intensity %></p>
<p><%= s.price %></p>
<p>----------</p>
<% end %>
