<h1>All Sauces</h1>
<% @products.each_slice(3) do |three_p| %>
  <div class="row">
    <% three_p.each do |s| %>
    <div class="col-md-4">
      <div class="well"> 
      <img src="<%= s.photos.first.url %>">
        <a href="/products/<%= s.id %>" =><%= s.name %></a>
        <p><%= s.description %></p>
        
        <p><%= s.intensity %></p>
        <p><%= s.price %></p>
        <p>Added at:</p>
        <p><%= s.time %></p>
        
      </div>
    </div>
    <% end %>
  </div>
<% end %>
