<p> Name: <%= @product.name %></p>
<p> Description: <%= @product.description %></p>
<p> Intensity: <%= @product.intensity %></p>
<p> Price: <%= @product.price %></p>
<p> Tax: $<%= @product.tax %>
<p> Total: $<%= @product.total %></p>
<p>Supplier: <%= @product.supplier.name %></p>
<%= @products.photos.each do |image| %>
<p>Photo: <img src="<%= image.url %>" alt="<%= @product.name %>"</p>
<p><%= @product.sale_massage %></p>
<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input type="submit" value="Destroy Product">
<%= link_to "Delete Me", "/products/#{@product.id}", method: :delete %>

<% end %>
